/* Reset básico e configuração de fontes */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  --primary-color: #4CAF50;
  --secondary-color: #333333;
  --accent-color: #f9a825;
  --background-light: #ffffff;
  --background-dark: #333333;
  --text-light: #f4f4f4;
  --text-dark: #212121;
  --border-radius: 10px;

  color: var(--text-light);
  background-color: var(--background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cores e temas dinâmicos */
@media (prefers-color-scheme: light) {
  :root {
    --background-dark: #ffffff;
    --background-light: #fafafa;
    --text-dark: #212121;
    --text-light: #333333;
    --primary-color: #388e3c;
    --secondary-color: #555;
    --accent-color: #f9a825;
  }
}

/* Estilos gerais do body */
body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-light);
  color: var(--text-dark);
}

h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  margin: 10px 0;
}

/* Estilo dos itens do cardápio */
.cardapio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  padding: 20px;
  margin: 15px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.cardapio-item img {
  border-radius: var(--border-radius);
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cardapio-item h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.cardapio-item p {
  color: var(--secondary-color);
  font-size: 1rem;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

button:hover {
  background-color: var(--accent-color);
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .cardapio-item {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .button-group {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
